<div class="scrollable">
    <div class="scrollable-content">

        <div class="navbar-brand navbar-brand-center" content-for="title"><span>{{Storage.malls.index.mall.name}}</span></div>

        <div class="coupon-index-outer">
            <a href="{{Url.formPathArray(['mall', Storage.malls.index.mall.url, 'coupon', Storage.malls.index.couponIndex.couponId])}}" class="coupon-index" ng-style="{'background-image':'url('+Storage.malls.index.couponIndex.imageSrc+')'}"></a>
        </div>

        <div class="section container-fluid">
            <!--<div class="btn-group justified nav-tabs">-->
                <!--<a class="btn btn-default active" href="#tab-food" toggle="on" active-class="active">Food</a>-->
                <!--<a class="btn btn-default" href="#tab-wear" toggle="on" active-class="active">Wear</a>-->
                <!--<a class="btn btn-default" href="#tab-tech" toggle="on" active-class="active">Tech</a>-->
                <!--<a class="btn btn-default" href="#tab-other" toggle="on" active-class="active">Other</a>-->
            <!--</div>-->
            <div class="btn-group justified nav-tabs">
                <a class="btn btn-default" ng-class="{active: Storage.malls.offersTypeId == 'food'}" href="{{Url.formPathArray(['mall', Storage.malls.mallId, 'offers', 'food'])}}">Food</a>
                <a class="btn btn-default" ng-class="{active: Storage.malls.offersTypeId == 'wear'}" href="{{Url.formPathArray(['mall', Storage.malls.mallId, 'offers', 'wear'])}}">Wear</a>
                <a class="btn btn-default" ng-class="{active: Storage.malls.offersTypeId == 'tech'}" href="{{Url.formPathArray(['mall', Storage.malls.mallId, 'offers', 'tech'])}}">Tech</a>
                <a class="btn btn-default" ng-class="{active: Storage.malls.offersTypeId == 'other'}" href="{{Url.formPathArray(['mall', Storage.malls.mallId, 'offers', 'other'])}}">Other</a>
            </div>
        </div>

        <div class="list-group list-coupons">
            <a href="{{Url.formPathArray(['mall', Storage.malls.index.mall.url, 'coupon', couponEntity.couponId])}}" class="list-group-item ng-scope ng-binding" ng-repeat="couponEntity in Storage.malls.index.coupons" style="padding-right: 30px; position: relative;">
                <i class="fa fa-chevron-right pull-right"style="position: absolute; top: 50%; right: 10px; margin-top: -10px;"></i>

                <div class="media">

                    <div class="pull-left">
                        <div ng-style="{'background-image':'url('+couponEntity.imageSrc+')'}" class="box-coupon-image"></div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{couponEntity.name}}</h4>
                        <p>{{couponEntity.offer}}</p>
                        <p style="margin-bottom: 0;" class="text-muted">{{couponEntity.position}}</p>
                    </div>
                </div>

            </a>
        </div>

        <!--<div class="tab-content">-->
            <!--<div class="tab-pane" ng-class="{active: Storage.malls.offersTypeId == 'food'}" toggleable="" active-class="active" default="active" id="tab-food" exclusion-group="myTabs">-->

                <!--<div class="list-group list-coupons">-->
                    <!--<a href="{{Url.formPathArray(['mall', Storage.malls.index.mall.url, 'coupon', couponEntity.couponId])}}" class="list-group-item ng-scope ng-binding" ng-repeat="couponEntity in Storage.malls.index.coupons.food" style="padding-right: 30px; position: relative;">-->
                        <!--<i class="fa fa-chevron-right pull-right" style="position: absolute; top: 50%; right: 10px; margin-top: -10px;"></i>-->
                        <!--<div class="media">-->

                            <!--<div class="pull-left">-->
                                <!--<div ng-style="{'background-image':'url('+couponEntity.imageSrc+')'}" class="box-coupon-image"></div>-->
                            <!--</div>-->
                            <!--<div class="media-body">-->
                                <!--<h4 class="media-heading">{{couponEntity.name}}</h4>-->
                                <!--<p>{{couponEntity.offer}}</p>-->
                                <!--<p style="margin-bottom: 0;" class="text-muted">{{couponEntity.position}}</p>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</a>-->
                <!--</div>-->

            <!--</div>-->

            <!--<div class="tab-pane" ng-class="{active: Storage.malls.offersTypeId == 'wear'}" toggleable="" active-class="active" id="tab-wear" exclusion-group="myTabs">-->
                <!--<div class="list-group list-coupons">-->
                    <!--<a href="{{Url.formPathArray(['mall', Storage.malls.index.mall.url, 'coupon', couponEntity.couponId])}}" class="list-group-item ng-scope ng-binding" ng-repeat="couponEntity in Storage.malls.index.coupons.wear" style="padding-right: 30px; position: relative;">-->
                        <!--<i class="fa fa-chevron-right pull-right" style="position: absolute; top: 50%; right: 10px; margin-top: -10px;"></i>-->
                        <!--<div class="media">-->

                            <!--<div class="pull-left">-->
                                <!--<div ng-style="{'background-image':'url('+couponEntity.imageSrc+')'}" class="box-coupon-image"></div>-->
                            <!--</div>-->
                            <!--<div class="media-body">-->
                                <!--<h4 class="media-heading">{{couponEntity.name}}</h4>-->
                                <!--<p>{{couponEntity.offer}}</p>-->
                                <!--<p style="margin-bottom: 0;" class="text-muted">{{couponEntity.position}}</p>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="tab-pane" ng-class="{active: Storage.malls.offersTypeId == 'tech'}" toggleable="" active-class="active" id="tab-tech" exclusion-group="myTabs">-->
                <!--<div class="list-group list-coupons">-->
                    <!--<a href="{{Url.formPathArray(['mall', Storage.malls.index.mall.url, 'coupon', couponEntity.couponId])}}" class="list-group-item ng-scope ng-binding" ng-repeat="couponEntity in Storage.malls.index.coupons.tech" style="padding-right: 30px; position: relative;">-->
                        <!--<i class="fa fa-chevron-right pull-right" style="position: absolute; top: 50%; right: 10px; margin-top: -10px;"></i>-->
                        <!--<div class="media">-->

                            <!--<div class="pull-left">-->
                                <!--<div ng-style="{'background-image':'url('+couponEntity.imageSrc+')'}" class="box-coupon-image"></div>-->
                            <!--</div>-->
                            <!--<div class="media-body">-->
                                <!--<h4 class="media-heading">{{couponEntity.name}}</h4>-->
                                <!--<p>{{couponEntity.offer}}</p>-->
                                <!--<p style="margin-bottom: 0;" class="text-muted">{{couponEntity.position}}</p>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="tab-pane" ng-class="{active: Storage.malls.offersTypeId == 'other'}" toggleable="" active-class="active" id="tab-other" exclusion-group="myTabs">-->

            <!--</div>-->

        <!--</div>-->


    </div>
</div>